[MESSAGES CONTROL]
disable =
    too-many-instance-attributes, # R0902
    locally-disabled, # I0011
    missing-module-docstring # C0114

[FORMAT]
# List of variable names that should always be accepted.
good-names = e,i,j,k,x,X,y

[TYPECHECK]
# List of members which are set dynamically and missed by Pylint inference
# system, and so shouldn't trigger E1101 when accessed.
generated-members = numpy.*, torch.*
disable =
    bad-continuation, # C0330
    not-callable # E1102